<h1>Listing people</h1>

<table>
  <thead>
    <tr>
      <th>Last name</th>
      <th>First name</th>
      <th>Address</th>
      <th>Email</th>
      <th colspan="3">Actions</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr class=<%= cycle("even", "odd") %>>
        <td><%= person.last_name %></td>
        <td><%= person.first_name %></td>
        <td>
          <%= person.address_line_one %><br/>
          <%= person.city %>, <%= person.state %>, <%= person.zip_code %>
        </td>
        <td><%= mail_to person.email %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
